<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/common/font-awesome.min.css"/>
<link rel="stylesheet" href="/css/common/ionicons.min.css"/>
<link rel="stylesheet" href="/css/common/boot.min.css"/>
<link rel="stylesheet" href="/css/common/_all-skins.min.css"/>
<link rel="stylesheet" href="/css/common/blue.css"/>
<link rel="stylesheet" href="/css/common/morris.css"/>
<!--<link rel="icon" type="image/png" href="/favicon.ico" sizes="32x32"/>-->
<!--[if lt IE 9]>
<script src="/js/ie/html5shiv.min.js"></script>
<script src="/js/ie/respond.min.js"></script>
<![endif]-->
<script src="/js/jQuery/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jQuery/jquery.slimscroll.min.js"></script>
<script src="/js/jQuery/jquery.validate.min.js"></script>
<script src="/js/jQuery/jquery.jBox-2.3.js"></script>
<script src="/js/common/app.js"></script>
<script src="/js/common/dashboard.js"></script>
<script src="/js/common/boot.js"></script>
<style>
    ul.sidebar-menu a {
        cursor: pointer;
    }
</style>