<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/images/user.jpg" class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info">
                <p>
                    <shiro:principal/>
                </p>
                <a href="#"><i class="fa fa-circle text-success"></i> Boot</a>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="header">BOOT</li>
            <li class="treeview" th:each="p,s : ${perms}">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span th:text="${p.name}"></span>
                    <span class="pull-right-container" th:if="${p.hasNode()}">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" th:if="${p.hasNode()}">
                    <li th:each="p2,s2 : ${p.nodes}">
                        <a th:href="${p2.link}"
                           th:target="${p2.target == null} ? 'mainFrame' : ${p2.target}"
                           th:utext="${p2.name}"><i class='fa fa-circle-o'></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
</body>
</html>