<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>角色分配</title>
    <div th:substituteby="/common/include"></div>
    <link rel="stylesheet" href="/css/treeTable/zTreeStyle.min.css"/>
</head>
<body>
<section class="content">
    <input type="hidden" id="roleId" th:value="${role.id}"/>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">角色分配</h3>
        </div>
        <div class="box-body">
            <div class="col-sm-3">
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-default">清空分配</button>
                    <button type="button" class="btn btn-default">全部分配</button>
                    <button type="button" class="btn btn-default">保存分配</button>
                </div>
            </div>
            <div class="col-sm-3">
                <p>待分配</p>
                <div id="notUserTree" class="ztree"></div>
            </div>
            <div class="col-sm-3">
                <p>已分配</p>
                <div id="userTree" class="ztree"></div>
            </div>
        </div>
        <div class="box-footer"></div>
    </div>
</section>
<script src="/js/jQuery/jquery.ztree.all-3.5.min.js"></script>
<script th:inline="javascript">
    var roleId = $('#roleId').val();
    var setting = {
        view: {selectedMulti: false, nameIsHTML: true, showTitle: false, dblClickExpand: false},
        data: {simpleData: {enable: true}},
        callback: {onClick: treeOnClick}
    };
    var userTree, notUserTree, ids = [], notIds = [];
    $.get("/user/api/userRole", {
        "roleId": roleId,
        "inRole": false
    }, function (userNodes) {
        $.each(userNodes, function (i, o) {
            notIds.push(String(o.id));
        });
        notUserTree = $.fn.zTree.init($("#notUserTree"), setting, userNodes);
    });
    $.get("/user/api/userRole", {
        "roleId": roleId,
        "inRole": true
    }, function (userNodes) {
        $.each(userNodes, function (i, o) {
            ids.push(String(o.id));
        });
        userTree = $.fn.zTree.init($("#userTree"), setting, userNodes);
    });
    //点击选择项回调
    /*<![CDATA[*/
    function treeOnClick(event, treeId, treeNode, clickFlag) {
        $.fn.zTree.getZTreeObj(treeId).expandNode(treeNode);
        var idsIndex = $.inArray(String(treeNode.id), ids);
        var notIdsIndex = $.inArray(String(treeNode.id), notIds);
        if (notIdsIndex < 0) return;
        if ("userTree" == treeId) {
            if (idsIndex >= 0) {
                userTree.removeNode(treeNode);
                ids.splice(treeNode.id);
            }
        }
        if ("notUserTree" == treeId) {
            if (idsIndex < 0) {
                userTree.addNodes(null, treeNode);
                ids.push(treeNode.id, 1);
            }
        }
    }
    /*]]>*/
</script>
</body>
</html>