<link rel="stylesheet" href="/css/bootstrap/dataTables.bootstrap.css"/>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">用户列表</h3>
    </div>
    <div class="box-body">
        <table id="list" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>邮箱</th>
                <th>姓名</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="5">Loading data from server</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/jQuery/jquery.dataTables.min.js"></script>
<script src="/js/bootstrap/dataTables.bootstrap.min.js"></script>
<script src="/js/boot/userList.js"></script>