<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Index</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/boot/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/boot/ionicons.min.css"/>
    <link rel="stylesheet" href="/css/boot/boot.min.css"/>
    <link rel="stylesheet" href="/css/boot/_all-skins.min.css"/>
    <link rel="stylesheet" href="/css/boot/blue.css"/>
    <link rel="stylesheet" href="/css/boot/morris.css"/>
    <link rel="icon" type="image/png" href="/images/favicon.ico" sizes="32x32"/>
    <!--[if lt IE 9]>
    <script src="/js/ie/html5shiv.min.js"></script>
    <script src="/js/ie/respond.min.js"></script>
    <![endif]-->
    <style>
        ul.sidebar-menu a {
            cursor: pointer;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:substituteby="/common/header :: header"></div>
    <div th:substituteby="/common/left :: aside"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                404 Error Page
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">403 Error</li>
            </ol>
        </section>
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow">404</h2>
                <div class="error-content">
                    <h3><i class="fa fa-warning text-yellow"></i> Oops! No permissions.</h3>
                    <p>
                        We could not find the page you were looking for.
                        Meanwhile, you may <a href="/">return to dashboard</a> or try using the search
                        form.
                    </p>
                    <form class="search-form">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="Search"/>

                            <div class="input-group-btn">
                                <button type="submit" name="submit" class="btn btn-warning btn-flat"><i
                                        class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <div th:substituteby="/common/footer :: footer"></div>
    <div th:substituteby="/common/right :: aside"></div>
    <div class="control-sidebar-bg"></div>
</div>
<script src="/js/jQuery/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jQuery/jquery.slimscroll.min.js"></script>
<script src="/js/boot/app.js"></script>
<script src="/js/boot/dashboard.js"></script>
<script src="/js/boot/boot.js"></script>
</body>
</html>