<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>权限管理</title>
    <div th:substituteby="/common/include"></div>
</head>
<body class="fixed hold-transition skin-blue sidebar-mini" onload="changeFrameHeight()" onresize="changeFrameHeight()">
<div class="wrapper">
    <div th:substituteby="/common/header :: header"></div>
    <div th:substituteby="/common/left :: aside"></div>
    <div class="content-wrapper">
        <iframe id="mainFrame" name="mainFrame" style="overflow:visible;" scrolling="yes"
                frameborder="no" width="100%"></iframe>
    </div>
    <div th:substituteby="/common/footer :: footer"></div>
    <div th:substituteby="/common/right :: aside"></div>
    <div class="control-sidebar-bg"></div>
</div>
<script src="/js/common/app.js"></script>
<script src="/js/common/boot.js"></script>
<script>
    function changeFrameHeight() {
        var ifm = document.getElementById("mainFrame");
        ifm.height = document.documentElement.clientHeight - 100;
    }
</script>
</body>
</html>