<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Index</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/boot/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/boot/ionicons.min.css"/>
    <link rel="stylesheet" href="/css/boot/boot.min.css"/>
    <link rel="stylesheet" href="/css/boot/_all-skins.min.css"/>
    <link rel="stylesheet" href="/css/boot/blue.css"/>
    <link rel="stylesheet" href="/css/boot/morris.css"/>
    <link rel="icon" type="image/png" href="/images/favicon.ico" sizes="32x32"/>
    <!--[if lt IE 9]>
    <script src="/js/ie/html5shiv.min.js"></script>
    <script src="/js/ie/respond.min.js"></script>
    <![endif]-->
    <style>
        ul.sidebar-menu a {
            cursor: pointer;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:substituteby="/common/header :: header"></div>
    <div th:substituteby="/common/left :: aside"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>150</h3>
                            <p>New Orders</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>
                            <p>Bounce Rate</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>44</h3>
                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>65</h3>
                            <p>Unique Visitors</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <section class="col-lg-7 connectedSortable"></section>
                <section class="col-lg-5 connectedSortable"></section>
            </div>
        </section>
    </div>
    <div th:substituteby="/common/footer :: footer"></div>
    <div th:substituteby="/common/right :: aside"></div>
    <div class="control-sidebar-bg"></div>
</div>
<script src="/js/jQuery/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jQuery/jquery.slimscroll.min.js"></script>
<script src="/js/boot/app.js"></script>
<script src="/js/boot/dashboard.js"></script>
<script src="/js/boot/boot.js"></script>
</body>
</html>