<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.boot.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.demo.boot.entity.Role" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="unique_key" property="uniqueKey" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="changed_at" property="changedAt" jdbcType="TIMESTAMP" />
    <result column="changed_by" property="changedBy" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    r.id, r.name, r.note, r.unique_key, r.status, r.created_at, r.created_by, r.changed_at, r.changed_by, r.version
  </sql>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from m_role r
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from m_role r
  </select>
  <select id="getByUser" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from m_role r
    JOIN m_user_role ur ON ur.role_id = r.id AND ur.user_id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from m_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.demo.boot.entity.Role" >
    insert into m_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="uniqueKey != null" >
        unique_key,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="changedAt != null" >
        changed_at,
      </if>
      <if test="changedBy != null" >
        changed_by,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="uniqueKey != null" >
        #{uniqueKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="changedAt != null" >
        #{changedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="changedBy != null" >
        #{changedBy,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.demo.boot.entity.Role" >
    update m_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="uniqueKey != null" >
        unique_key = #{uniqueKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="changedAt != null" >
        changed_at = #{changedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="changedBy != null" >
        changed_by = #{changedBy,jdbcType=VARCHAR},
      </if>
      version = version + 1
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="deleteRolePermission" parameterType="java.lang.String" >
    delete from m_role_permission
    where role_id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertRolePermission" parameterType="com.demo.boot.entity.Role" >
    INSERT INTO m_role_permission (role_id,permission_id)
    <foreach collection="perms" item="p" separator=" union all ">
      SELECT #{id}, #{p.id}
    </foreach>
  </insert>
</mapper>